services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: vulnsploit-backend
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    working_dir: /app
    volumes:
      - ./backend:/appp
